*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    width:25%;
    height:100vh;
}

#signature{
    display: flex;
    background-image: url(signature_blue.png);
    height:300px;
    margin:150px 50px 30px 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#photo{
    display: flex;
    background-image: url(AS_picture_orange.png);
    align-self: flex-end stretch;
    height:700px;
    margin-top: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: all 1s ease-in-out;
    
}

#photo:hover{
    background-image: url(AS_picture.png)
}

.info{
    display: flex;
    flex-direction: column;
    width: 75%;
    height:100vh;
    background-color: #04395E;
    padding-left: 5%;
}


header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    color: white;
    text-align: left;
    margin-top:150px;
}

header h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: #D5896F;
    text-align: left;
}

summary{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: white;
    width: 40%;
    margin-top: 50px;
    transition: all ease 0.2s;
}

summary:hover {
    font-size:24px;
    width: 50%;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 70px;
}

#buttons a{
    text-decoration: none;
    padding:20px 60px 20px 60px ;
    color: #D5896F;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    transition: all 0.5s ease-in-out;
}

#buttons a:hover{
    /* border-style: solid;
    border-color: #D5896F;
    border-width: 3px; */
    background-color: #D5896F;
    color:#04395E;
    transform:scale(1.05);

}

footer{
    position:absolute;
    display:flex;
    justify-content: space-between;
    width: 55%;
    bottom:20px;
    height:60px;

}

#pictos {
    display: flex;
    justify-content: center;
}

#pictos img{
    width: 35px;
    object-fit: contain;
    margin-right:10px;
}

#pictos img:hover{
    -webkit-filter: sepia(60%);
    filter: sepia(60%git);
}

#contact{
    display: flex;
    color: #D5896F;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    justify-self: flex-end;
    justify-content: center;
    text-align: end;
}

article {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    width: 80%;
    margin-top: 50px;
    /* font-variant: small-caps; */
    text-align: right;
}

article p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #D5896F;
    margin-bottom: 15px;

}

article ul{
    list-style: none;
    line-height: 1.5em;
    font-stretch: condensed;
    font-size: 14px;
    transition: all ease 0.2s;
}

article ul:hover {
    font-size:20px;
    
}
